html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #424242;
}


/* splash screen css starts here  */

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000304 url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/b6e0b072897469.5bf6e79950d23.gif") no-repeat center center;
    z-index: 5555555;
}

/* splash screen css ends here  */

/* navbar css starts here  */

.bg-light {
    background-color: #0000006c !important;
}

.navbar-brand {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.5rem;
    color: #ffffff !important;
}

.nav-link {
    color: #ffffff !important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover {
    color: #8e8e8e !important;
}

.navbar-brand:hover {
    color: #8e8e8e !important;
}

/* navbar css ends here  */


/* here content css starts here  */

.hero-content {
    height: 95vh;
    background-color: crimson;
    color: #280404;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 25rem;
    border-top-right-radius: 0rem;
    border-top-left-radius: 25rem;
    margin-bottom: 1vh;
}

.hero-img {
    height: 70%;
    width: 75%;
}

@media only screen and (max-width: 766px) {
    .hero-img {
        display: none;
    }
}

h1 {
    margin-top: 140px;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 2.2;
    color: inherit;
    margin-left: 120px;
}

.lead {
    margin-left: 70px;
    font-size: 1.25rem;
    font-weight: 300;
    width: 100%;
}

/* here content css starts here  */

/* footer css starts here */

footer {
    background-color: #f6f0ed;
}

.col-6 {
    flex: 0 0 120%;
    max-width: 23%;
}

.col-6 p {
    padding-left: 36px;
    font-weight: bold;
    /* flex: 0 0 120%; */
    max-width: 100%;
    font-size: 20px;
}

.footer-row {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 6px;
    margin-left: 20px;
    margin-right: 20px;
}

/* footer css ends here  */